body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}ul {
  margin: 0;
  padding: 0;
}.cmnt {
  list-style-type: none;
  background-color: #ddd;
  margin-bottom: .5em;
  padding: .5em 1em 1em;
} .cmnt .cmntHead {
  display: block;
  border-bottom: 1px solid rgba(0,0,0,.3);
  margin-bottom: -15px;
} .cmntDel {
  background-color: #777;
  color:#ddd;
  font-size: 6pt;
  padding:.5em .9em;
  float: right;
  border-radius: 50%;
  cursor:pointer;
} .cmntDel:hover {
  background-color: #999;
  color:#fff;
}

.sureBox {
  border-radius: 12px 12px 0 0;
  display:none;
  text-align:center;
  position:absolute;
  top:15em;
  left:35%;
  width:25%;
  height:15em;
  background-color:#ddd;
}

.sureBoxBody {
  display: none;
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height: 100vh;
} 
.sureX {
  color:white;
  padding:2px;
  margin-top: 7px;
  margin-right: 7px;
  font-size: 5pt;
  display: block;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: red;
  text-align: center;
  float: right;
} .sureX:hover {
  cursor:pointer;
} #surP {
  display:none;
} #surU {
  display:none;
} #surC {
  display:none;
} .emptyMsg {
  display: flex;
  justify-content: center;
  padding-bottom: 1em;
  font-weight: bold;
  color: rgba(0,0,0,.4);
}

#mov , #marv , #poke{
  display: none;
} .navHov:hover {
  border-bottom: 1px solid black;
  cursor: pointer;
}